!!!
%html
	%head
		%title Ever Clan
		=script('/js/jquery.min.js')
		=css('semantic/dist/semantic.min.css')
		=css('css/style.css')
		=script('/js/script.js')
		=script('semantic/dist/semantic.min.js')

	%body
		=yield